@use "../../assets/styles/variables" as *;

.rentals-section {
  padding: $section-padding-top var(--section-horizontal-padding);
  border-bottom: $gray-border;
  scroll-margin-top: $section-scroll-margin-top;

  .rental-description,
  .rental-closing {
    text-align: center;
  }

  .rental-card--custom {
    flex: 1;
  }

  .rentals-content {
    display: flex;
    gap: var(--space-xs);
    padding: var(--space-md) 0;
  }
}

@media (max-width: 768px) {
  .rentals-section {
    .rentals-content {
      flex-direction: column;
    }
  }
}
