@use "../../../assets/styles/variables" as *;

.rental-card {
  background-color: $lighter-black;

  &--title {
    font-size: var(--font-size-body);
    color: $light-gray;
  }

  &--price {
    font-size: var(--font-size-price);
    font-family: $bebas-neue-font;
  }

  .per-day {
    color: $light-gray;
  }

  &--list {
    margin: auto 0;

    li:not(:last-child) {
      margin-bottom: var(--space-lg);
    }
  }
}
