@use "../../../assets/styles/variables" as *;

.rental-card {
  background-color: $lighter-black;


  &--title {
    font-size: $primary-font-size;
    color: $light-gray;
  }

  &--price {
    font-size: 50px;
    font-family: $bebas-neue-font;
  }
  
  .per-day {
    color: $light-gray;
  }

  &--list {
    margin: auto 0;

    li:not(:last-child) {
      margin-bottom: var(--space-lg);
    }
  }
}
