@use "../../assets/styles/variables" as *;

.info-section {
  padding: $section-padding-top var(--section-horizontal-padding);
  scroll-margin-top: $section-scroll-margin-top;
  border-bottom: $gray-border;

  .info-intro {
    text-align: center;
  }

  .info-content {
    display: flex;
    gap: var(--space-xs);
    align-items: stretch;
    padding-top: var(--space-md);

    .before-trip-card--custom,
    .deposit-card {
      flex: 1;
    }
  }
}

@media (max-width: 768px) {
  .info-section {
    .info-content {
      flex-direction: column;
    }
  }
}
