@use "../../assets/styles/variables" as *;

.feature-block {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  &--heading {
    font-family: $bebas-neue-font;
    font-size: $subheading-font-size;
    margin: var(--space-xxs) 0;
  }

  &--text {
    font-size: $secondary-font-size;
    margin: 0;
  }

  &--vector {
    color: $primary-color;
    height: var(--icon-lg);
  }
}
