@use "../../assets/styles/variables" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  padding: var(--space-xs) $section-horizontal-padding;

  .background {
    position: absolute;
    inset: 0;
    background-color: $secondary-color;
    opacity: 70%;
    z-index: -1;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    .logo-navbar {
      cursor: pointer;
    }
  }

  .navigation {
    display: flex;
    gap: var(--space-lg);
    font-size: $primary-font-size;
    align-items: center;

    .nav-link {
      cursor: pointer;
      color: $text-color;
      transition: ease $transition-duration;
      text-transform: uppercase;

      &:hover {
        color: darken-color($text-color);
      }
    }
  }
  .languages {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    .language {
      height: var(--icon-md);
      width: 22px;
      cursor: pointer;
      border: none;
      background: transparent;
      padding: 0;
      margin: 0;
    }
    .disable {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
