@use "../../assets/styles/variables" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  padding: var(--space-xs) var(--section-horizontal-padding);

  .background {
    position: absolute;
    inset: 0;
    background-color: $secondary-color;
    opacity: 70%;
    z-index: -1;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    .logo-navbar {
      cursor: pointer;
    }
  }

  .navigation {
    display: flex;
    gap: var(--space-lg);
    align-items: center;

    .nav-link {
      cursor: pointer;
      color: $text-color;
      transition: ease $transition-duration;
      text-transform: uppercase;

      &:hover {
        color: darken-color($text-color);
      }
    }
  }
  .languages {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    .language {
      height: var(--icon-md);
      width: var(--icon-md);
      cursor: pointer;
      border: none;
      background: transparent;
      padding: 0;
      margin: 0;
    }
    .disable {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .burger-button {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    &.menu-open {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      background-color: $secondary-color;

      .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: $bebas-neue-font;
        font-size: var(--font-size-subheading);

        .nav-link{
          margin: 0;
        }
      }

      .languages {
        display: flex;
      }
    }

    .navigation {
      display: none;
    }

    .languages {
      display: none;
    }

    .burger {
      &-button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        color: inherit;
        display: flex;
        align-items: center;
      }

      &-icon {
        height: var(--icon-md);
        width: var(--icon-md);
      }
    }
  }
}
