@use "../../../assets/styles/variables" as *;

.deposit-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $lighter-black;

  .deposit {
    position: relative;
    margin: auto;
    text-align: center;
    border: 1px solid $light-gray;
    padding: var(--space-xs) var(--space-xl);
    background: $primary-color;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      transform: translate(-6px, -6px);
      background: $lighter-black;
      border: 1px solid $primary-color;
    }

    &-price {
      font-family: $bebas-neue-font;
      font-size: var(--font-size-price);
      margin-top: var(--space-xs);
      margin-bottom: 0;
    }

    &-message {
      color: $light-gray;
      margin-top: 0;
    }
  }
}

@media (max-width: 768px) {
  .deposit-card {
    .deposit {
      margin: var(--space-md) auto;
    }
  }
}
