@use "./variables" as *;

.section-heading {
  font-family: $bebas-neue-font;
  font-weight: 400;
  text-align: center;
  margin: 0 0 var(--space-sm) 0; //overwrite the default margins of h1
  font-size: var(--font-size-heading);
}

li {
  &::marker {
    color: $primary-color;
  }
}
