@use "../styles/variables" as *;

.info-section {
  scroll-margin-top: $section-scroll-margin-top;
  padding-top: $section-padding-top;
  padding-bottom: 30px;
  border-bottom: $section-border;

  .info-content {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    padding: $section-horizontal-padding;
  }
}
