@use "./variables" as *;

.card {
  border: 1px solid $gray-color;
  transition: ease $transition-duration;
  position: relative;
  color: $text-color;
  padding: var(--space-md) var(--space-md);

  > * {
    position: relative;
    z-index: 1;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
  }

  &-title {
    font-family: $bebas-neue-font;
    font-style: italic;
    font-size: var(--font-size-card-heading);
    text-transform: uppercase;
  }
}
