@use "./variables" as *;

.kontaktai-section {
  padding: $section-horizontal-padding;
  padding-top: $section-padding-top;
  padding-bottom: 40px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/image00006.jpeg");
  background-size: cover;
  background-position: 0 40%;
  border-bottom: $section-border;

  .kontaktai-content {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;

    .kontaktai-link {
      text-decoration: none;
      color: $text-color;
      transition: ease $transition-duration;

      &:hover {
        color: darken-color($text-color);
      }
    }
  }
}
