@use "./variables" as *;

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;

  .footer-content {
    display: flex;
    align-items: center;
    gap: 20px;

    .footer-link {
      text-decoration: none;
      color: $text-color;
      transition: ease $transition-duration;

      &:hover {
        color: darken-color($text-color);
      }

      svg {
        height: 25px;
      }
    }

    .footer-socials {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
