@use "./variables" as *;
@use "./globals";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  background-color: $secondary-color;
  font-family: $inter-font;
  font-optical-sizing: auto;
  font-weight: 400;
  color: $text-color;
}

body {
  margin: 0;
}
