@use "../../assets/styles/variables" as *;

.tours-section {
  scroll-margin-top: $section-scroll-margin-top;
  padding: $section-padding-top var(--section-horizontal-padding);
  border-bottom: $gray-border;

  .plan-wrapper {
    display: flex;
    align-items: stretch;
    gap: var(--space-sm);
  }
}

@media (max-width: 768px) {
  .tours-section {
    .plan-wrapper {
      flex-direction: column;
    }
  }
}
